*.lock
.*.lock
--force
.idea/
data/
.env_secret
git-auto-fetch/git-auto-fetch
doo.sh
.binance
scripts/trade/.binance
binance.pk
.binance.pickle
ngrok
lost.txt
symbols.pk
.symbols.pk
.binance.pk
ngrok_ip
node_modules/
user_data/
package-lock.json
pairs_temp.csv
tradingview-alerts/config.yml
bot/.env_secret
InsufficientFunds
InvalidOrder
status.yaml
.tracking.txt
timestamp.yaml
.eggs
cmd.log
liq.log
progress.log