requirements.txt.bak
bot/program.log
*.*.bak
*.lock
.*.lock
--force
.idea/
data/
.env_secret
git-auto-fetch/git-auto-fetch
doo.sh
.binance
scripts/trade/.binance
binance.pk
.binance.pickle
ngrok
lost.txt
symbols.pk
.symbols.pk
.binance.pk
ngrok_ip
node_modules/
user_data/
package-lock.json
pairs_temp.csv
bot/.env_secret
InsufficientFunds
InvalidOrder
status.yaml
.tracking.txt
timestamp.yaml
.eggs
cmd.log
liq.log
progress.log
.mypy_cache/
bot.egg-info/
status.yaml
*.yaml~
run_balance.yaml
/.mypy_cache/
.mypy_cache/
cpu.log
tradingview-alerts-home/
tradingview-alerts/node_modules
bot/scripts/common_btc_markets.txt
balance_btc.log
balance_usdt.log
*.tar.gz